In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

import sklearn
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.optimizers import Adam
from sklearn import preprocessing

In [2]:
#匯入模型
from keras.models import load_model
model = load_model('dnn_for_titanic.h5')

In [3]:
#資料預處理函式
def pre_processing(dataset):
    # 取出Mr., Mrs., Miss
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
    ##titlemapping
    result = []
    title_mapping = {"Mr": 0, 'Miss':1, 'Mrs':2}
    for items in dataset['Title']:
        result.append(title_mapping.get(items, 3))
    dataset['Title'] = result
    # 刪除Name欄位
    dataset.drop('Name', axis = 1, inplace=True)
    # mapping sex
    sex_mapping = {'male':0, 'female':1}
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)
    # Age欄位NA補值
    dataset["Age"].fillna(dataset.groupby("Title")["Age"].transform("median"), inplace = True)
    #依年齡區間做mapping function
    dataset.loc[dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 26) & (dataset['Age'] <= 36), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 36) & (dataset['Age'] <= 62), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 62), 'Age'] = 4
    #填補登船地點缺失資料
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
    # 登船地點的Mapping Function
    embarked_mapping = {'S':0, 'C':1, 'Q':2}
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)
    #填補票價缺失的資料 
    dataset['Fare'].fillna(dataset.groupby('Pclass')['Fare'].transform('median'), inplace = True)
    #依票價區間做mapping function
    dataset.loc[dataset['Fare'] <= 17, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 17) & (dataset['Fare'] <= 30), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2
    dataset.loc[(dataset['Fare'] > 100), 'Fare'] = 3
    #觀察船艙編號資料 =>取出第一個字母
    dataset['Cabin'] = dataset['Cabin'].str[:1]
    #船艙Mapping
    cabin_mapping = {'A':0, 'B':0.4, 'C':0.8, 'D':1.2, 'E':1.6, 
                     'F':2, 'G':2.4, 'T':2.8}
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)
    #填補船艙種類缺失資料
    dataset['Cabin'].fillna(dataset.groupby('Pclass')['Cabin'].transform('median'), inplace = True)
    #合併Sibsp & Parch
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
    #家族人口的Mapping Function
    family_mapping = {1: 0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2,
                      7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4}
    dataset['FamilySize'] = dataset['FamilySize'].map(family_mapping)
    #刪除Sibsp, Parch, Ticket
    features_drop = ['Ticket', 'SibSp', 'Parch', 'PassengerId']
    dataset = dataset.drop(features_drop, axis = 1)
    return dataset

In [5]:
test = pd.read_csv('input/test.csv')
test = pre_processing(test)
test.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  2.0   0.0    2.0         2      0         0.0
1       3    1  3.0   0.0    2.0         0      2         0.4
2       2    0  3.0   0.0    2.0         2      0         0.0
3       3    0  2.0   0.0    2.0         0      0         0.0
4       3    1  1.0   0.0    2.0         0      2         0.8

In [10]:
#確認資料型態
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Sex         418 non-null    int64
 2   Age         418 non-null    float64
 3   Fare        418 non-null    float64
 4   Cabin       418 non-null    float64
 5   Embarked    418 non-null    int64
 6   Title       418 non-null    int64
 7   FamilySize  418 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 26.2 KB

In [6]:
#標準化
from sklearn import preprocessing
minmax_scale = preprocessing.MinMaxScaler(feature_range = (0, 1))
scaleFeatures = minmax_scale.fit_transform(test)

In [12]:
#預測
probability = model.predict(scaleFeatures)
probability

array([[0.08448359],
       [0.29410973],
       [0.1222679 ],
       [0.08110017],
       [0.41510123],
       [0.21977091],
       [0.6295325 ],
       [0.22851619],
       [0.6052897 ],
       [0.11686662],
       [0.08110017],
       [0.23529735],
       [0.95029086],
       [0.07038307],
       [0.9576793 ],
       [0.911693  ],
       [0.17998296],
       [0.12573102],
       [0.34677452],
       [0.40347728],
       [0.30287033],
       [0.25890765],
       [0.9598245 ],
       [0.48726368],
       [0.9525358 ],
       [0.05262923],
       [0.9665159 ],
       [0.12573102],
       [0.29060876],
       [0.07619697],
       [0.09927648],
       [0.2547053 ],
       [0.3021417 ],
       [0.23251674],
       [0.38814837],
       [0.12573102],
       [0.4823275 ],
       [0.4823275 ],
       [0.11747652],
       [0.10996726],
       [0.05263063],
       [0.31501272],
       [0.05627653],
       [0.8467639 ],
       [0.95702887],
       [0.11747652],
       [0.32800364],
       [0.08448359],
       [0.97427225],
       [0.33609432],
       [0.4289355 ],
       [0.14568686],
       [0.8039262 ],
       [0.9326059 ],
       [0.14568686],
       [0.18712232],
       [0.08110017],
       [0.11747652],
       [0.07577416],
       [0.97249913],
       [0.11747652],
       [0.14604628],
       [0.11747658],
       [0.70612836],
       [0.509576  ],
       [0.7931906 ],
       [0.70612836],
       [0.26568013],
       [0.4149802 ],
       [0.906482  ],
       [0.70612836],
       [0.11747652],
       [0.39211935],
       [0.412231  ],
       [0.9737823 ],
       [0.4348316 ],
       [0.08110017],
       [0.94674605],
       [0.14604628],
       [0.70612836],
       [0.24514768],
       [0.20912662],
       [0.23529735],
       [0.08110017],
       [0.17998296],
       [0.07812601],
       [0.6295325 ],
       [0.4823275 ],
       [0.77040225],
       [0.4479908 ],
       [0.46039963],
       [0.08110017],
       [0.94477797],
       [0.08110017],
       [0.5281435 ],
       [0.11747658],
       [0.95135343],
       [0.08110017],
       [0.4823275 ],
       [0.08110017],
       [0.97086287],
       [0.14683482],
       [0.08448359],
       [0.11747652],
       [0.58929604],
       [0.09141332],
       [0.13278702],
       [0.08448359],
       [0.08110017],
       [0.22036168],
       [0.10221881],
       [0.70612836],
       [0.9690443 ],
       [0.70612836],
       [0.94935876],
       [0.11700261],
       [0.08356184],
       [0.4824525 ],
       [0.43816683],
       [0.8044833 ],
       [0.8969178 ],
       [0.07736495],
       [0.97117215],
       [0.08110017],
       [0.08448359],
       [0.43548137],
       [0.11747658],
       [0.61932325],
       [0.10442486],
       [0.11747652],
       [0.08110017],
       [0.362679  ],
       [0.20795915],
       [0.07812601],
       [0.05627653],
       [0.11747652],
       [0.08356184],
       [0.22036168],
       [0.4823275 ],
       [0.03363174],
       [0.28913468],
       [0.9588941 ],
       [0.23909405],
       [0.16236934],
       [0.23529735],
       [0.06772092],
       [0.3607745 ],
       [0.11747652],
       [0.31264734],
       [0.21274528],
       [0.9695171 ],
       [0.08356184],
       [0.05627653],
       [0.33609432],
       [0.19519922],
       [0.11747652],
       [0.9588941 ],
       [0.4823275 ],
       [0.23246026],
       [0.41510123],
       [0.70612836],
       [0.24514768],
       [0.88969   ],
       [0.08110017],
       [0.17672837],
       [0.41398183],
       [0.3437867 ],
       [0.10462168],
       [0.96960473],
       [0.4823275 ],
       [0.08110017],
       [0.08356184],
       [0.11042386],
       [0.08356184],
       [0.03588021],
       [0.8747742 ],
       [0.88686293],
       [0.30287033],
       [0.7160181 ],
       [0.9619162 ],
       [0.14604628],
       [0.2599991 ],
       [0.9533639 ],
       [0.08448359],
       [0.96962214],
       [0.10442486],
       [0.8624296 ],
       [0.10421738],
       [0.15557265],
       [0.10442486],
       [0.14683473],
       [0.31264728],
       [0.2416752 ],
       [0.1222679 ],
       [0.4867673 ],
       [0.08110017],
       [0.64338136],
       [0.4823275 ],
       [0.22036168],
       [0.3341355 ],
       [0.70612836],
       [0.2416752 ],
       [0.3682178 ],
       [0.8703065 ],
       [0.22036168],
       [0.4149802 ],
       [0.6295325 ],
       [0.22036168],
       [0.96469665],
       [0.11747652],
       [0.09141332],
       [0.08110017],
       [0.30921012],
       [0.7490964 ],
       [0.14910367],
       [0.274087  ],
       [0.70612836],
       [0.25239566],
       [0.971467  ],
       [0.08110017],
       [0.89785504],
       [0.11747652],
       [0.877488  ],
       [0.11747658],
       [0.96960473],
       [0.29953635],
       [0.11747652],
       [0.70612836],
       [0.05627653],
       [0.14604628],
       [0.483274  ],
       [0.9497835 ],
       [0.11042386],
       [0.08448359],
       [0.30287033],
       [0.11747652],
       [0.21378389],
       [0.12573102],
       [0.8329368 ],
       [0.9741068 ],
       [0.96960473],
       [0.6993691 ],
       [0.26520896],
       [0.08110017],
       [0.23777124],
       [0.24292588],
       [0.8740429 ],
       [0.1005877 ],
       [0.8044833 ],
       [0.3472313 ],
       [0.84624916],
       [0.11747652],
       [0.3863716 ],
       [0.11747652],
       [0.08110017],
       [0.08110017],
       [0.08448359],
       [0.08110017],
       [0.88969   ],
       [0.11747652],
       [0.05500314],
       [0.11747652],
       [0.7616091 ],
       [0.47132877],
       [0.14568686],
       [0.08110017],
       [0.2930635 ],
       [0.08110017],
       [0.4823275 ],
       [0.11747652],
       [0.33692244],
       [0.08448359],
       [0.97153294],
       [0.6440331 ],
       [0.08356184],
       [0.8624296 ],
       [0.14604628],
       [0.09927654],
       [0.14683482],
       [0.22036168],
       [0.4823275 ],
       [0.2416752 ],
       [0.70612836],
       [0.5898889 ],
       [0.45630088],
       [0.08110017],
       [0.08110017],
       [0.42074707],
       [0.08356184],
       [0.08110017],
       [0.35764962],
       [0.6295325 ],
       [0.08356184],
       [0.29886216],
       [0.08110017],
       [0.11747652],
       [0.9105937 ],
       [0.07619697],
       [0.35764962],
       [0.08110017],
       [0.08110017],
       [0.1550127 ],
       [0.09927654],
       [0.11747652],
       [0.70612836],
       [0.93350184],
       [0.29564965],
       [0.25890765],
       [0.24372083],
       [0.29410973],
       [0.11747652],
       [0.12573102],
       [0.08110017],
       [0.5425247 ],
       [0.97626084],
       [0.70612836],
       [0.31469795],
       [0.22036168],
       [0.08110017],
       [0.2547053 ],
       [0.11747652],
       [0.12573102],
       [0.22036168],
       [0.31264734],
       [0.96071243],
       [0.11747652],
       [0.8547684 ],
       [0.33692244],
       [0.14683482],
       [0.22036168],
       [0.69027174],
       [0.32800364],
       [0.08356184],
       [0.48351005],
       [0.08110017],
       [0.31264734],
       [0.14604628],
       [0.04911163],
       [0.30921012],
       [0.29213646],
       [0.22036168],
       [0.08110017],
       [0.03824142],
       [0.9731581 ],
       [0.2416752 ],
       [0.5661982 ],
       [0.22036168],
       [0.40347728],
       [0.22036168],
       [0.8573612 ],
       [0.97171   ],
       [0.22036168],
       [0.30921012],
       [0.08976492],
       [0.41002002],
       [0.2317062 ],
       [0.9519187 ],
       [0.08110017],
       [0.08448359],
       [0.37241718],
       [0.13590318],
       [0.89342767],
       [0.8412806 ],
       [0.08110017],
       [0.97094214],
       [0.09214675],
       [0.07812601],
       [0.48466867],
       [0.97086287],
       [0.14568686],
       [0.203935  ],
       [0.97591317],
       [0.2467021 ],
       [0.10442486],
       [0.94923204],
       [0.97484887],
       [0.38963428],
       [0.22036168],
       [0.26568013],
       [0.19519922],
       [0.08448359],
       [0.13278702],
       [0.33413547],
       [0.46039957],
       [0.14604628],
       [0.8016898 ],
       [0.11747652],
       [0.10442486],
       [0.13278702],
       [0.21657813],
       [0.44786432],
       [0.95702887],
       [0.26238889],
       [0.10442486],
       [0.06141961],
       [0.9520648 ],
       [0.13278702],
       [0.96693015],
       [0.11747652],
       [0.08448359],
       [0.9588941 ],
       [0.09927654],
       [0.96786445],
       [0.4660128 ],
       [0.26786888],
       [0.21862766],
       [0.203935  ],
       [0.27445537],
       [0.70612836],
       [0.47132877],
       [0.70612836],
       [0.97941107],
       [0.39211935],
       [0.08110017],
       [0.97643745],
       [0.0562765 ],
       [0.08110017],
       [0.24739105]], dtype=float32)

In [13]:
test_dataset = pd.read_csv('input/test.csv')
test_dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [15]:
for i in range(len(test_dataset['PassengerId'])):
    print(i, ". ", test_dataset['PassengerId'][i], " ",int(round(probability[i, 0], 0)))

0 .  892   0
1 .  893   0
2 .  894   0
3 .  895   0
4 .  896   0
5 .  897   0
6 .  898   1
7 .  899   0
8 .  900   1
9 .  901   0
10 .  902   0
11 .  903   0
12 .  904   1
13 .  905   0
14 .  906   1
15 .  907   1
16 .  908   0
17 .  909   0
18 .  910   0
19 .  911   0
20 .  912   0
21 .  913   0
22 .  914   1
23 .  915   0
24 .  916   1
25 .  917   0
26 .  918   1
27 .  919   0
28 .  920   0
29 .  921   0
30 .  922   0
31 .  923   0
32 .  924   0
33 .  925   0
34 .  926   0
35 .  927   0
36 .  928   0
37 .  929   0
38 .  930   0
39 .  931   0
40 .  932   0
41 .  933   0
42 .  934   0
43 .  935   1
44 .  936   1
45 .  937   0
46 .  938   0
47 .  939   0
48 .  940   1
49 .  941   0
50 .  942   0
51 .  943   0
52 .  944   1
53 .  945   1
54 .  946   0
55 .  947   0
56 .  948   0
57 .  949   0
58 .  950   0
59 .  951   1
60 .  952   0
61 .  953   0
62 .  954   0
63 .  955   1
64 .  956   1
65 .  957   1
66 .  958   1
67 .  959   0
68 .  960   0
69 .  961   1
70 .  962   1
71 .  963   0
72 .  964   0
73 .  965   0
74 .  966   1
75 .  967   0
76 .  968   0
77 .  969   1
78 .  970   0
79 .  971   1
80 .  972   0
81 .  973   0
82 .  974   0
83 .  975   0
84 .  976   0
85 .  977   0
86 .  978   1
87 .  979   0
88 .  980   1
89 .  981   0
90 .  982   0
91 .  983   0
92 .  984   1
93 .  985   0
94 .  986   1
95 .  987   0
96 .  988   1
97 .  989   0
98 .  990   0
99 .  991   0
100 .  992   1
101 .  993   0
102 .  994   0
103 .  995   0
104 .  996   1
105 .  997   0
106 .  998   0
107 .  999   0
108 .  1000   0
109 .  1001   0
110 .  1002   0
111 .  1003   1
112 .  1004   1
113 .  1005   1
114 .  1006   1
115 .  1007   0
116 .  1008   0
117 .  1009   0
118 .  1010   0
119 .  1011   1
120 .  1012   1
121 .  1013   0
122 .  1014   1
123 .  1015   0
124 .  1016   0
125 .  1017   0
126 .  1018   0
127 .  1019   1
128 .  1020   0
129 .  1021   0
130 .  1022   0
131 .  1023   0
132 .  1024   0
133 .  1025   0
134 .  1026   0
135 .  1027   0
136 .  1028   0
137 .  1029   0
138 .  1030   0
139 .  1031   0
140 .  1032   0
141 .  1033   1
142 .  1034   0
143 .  1035   0
144 .  1036   0
145 .  1037   0
146 .  1038   0
147 .  1039   0
148 .  1040   0
149 .  1041   0
150 .  1042   1
151 .  1043   0
152 .  1044   0
153 .  1045   0
154 .  1046   0
155 .  1047   0
156 .  1048   1
157 .  1049   0
158 .  1050   0
159 .  1051   0
160 .  1052   1
161 .  1053   0
162 .  1054   1
163 .  1055   0
164 .  1056   0
165 .  1057   0
166 .  1058   0
167 .  1059   0
168 .  1060   1
169 .  1061   0
170 .  1062   0
171 .  1063   0
172 .  1064   0
173 .  1065   0
174 .  1066   0
175 .  1067   1
176 .  1068   1
177 .  1069   0
178 .  1070   1
179 .  1071   1
180 .  1072   0
181 .  1073   0
182 .  1074   1
183 .  1075   0
184 .  1076   1
185 .  1077   0
186 .  1078   1
187 .  1079   0
188 .  1080   0
189 .  1081   0
190 .  1082   0
191 .  1083   0
192 .  1084   0
193 .  1085   0
194 .  1086   0
195 .  1087   0
196 .  1088   1
197 .  1089   0
198 .  1090   0
199 .  1091   0
200 .  1092   1
201 .  1093   0
202 .  1094   0
203 .  1095   1
204 .  1096   0
205 .  1097   0
206 .  1098   1
207 .  1099   0
208 .  1100   1
209 .  1101   0
210 .  1102   0
211 .  1103   0
212 .  1104   0
213 .  1105   1
214 .  1106   0
215 .  1107   0
216 .  1108   1
217 .  1109   0
218 .  1110   1
219 .  1111   0
220 .  1112   1
221 .  1113   0
222 .  1114   1
223 .  1115   0
224 .  1116   1
225 .  1117   0
226 .  1118   0
227 .  1119   1
228 .  1120   0
229 .  1121   0
230 .  1122   0
231 .  1123   1
232 .  1124   0
233 .  1125   0
234 .  1126   0
235 .  1127   0
236 .  1128   0
237 .  1129   0
238 .  1130   1
239 .  1131   1
240 .  1132   1
241 .  1133   1
242 .  1134   0
243 .  1135   0
244 .  1136   0
245 .  1137   0
246 .  1138   1
247 .  1139   0
248 .  1140   1
249 .  1141   0
250 .  1142   1
251 .  1143   0
252 .  1144   0
253 .  1145   0
254 .  1146   0
255 .  1147   0
256 .  1148   0
257 .  1149   0
258 .  1150   1
259 .  1151   0
260 .  1152   0
261 .  1153   0
262 .  1154   1
263 .  1155   0
264 .  1156   0
265 .  1157   0
266 .  1158   0
267 .  1159   0
268 .  1160   0
269 .  1161   0
270 .  1162   0
271 .  1163   0
272 .  1164   1
273 .  1165   1
274 .  1166   0
275 .  1167   1
276 .  1168   0
277 .  1169   0
278 .  1170   0
279 .  1171   0
280 .  1172   0
281 .  1173   0
282 .  1174   1
283 .  1175   1
284 .  1176   0
285 .  1177   0
286 .  1178   0
287 .  1179   0
288 .  1180   0
289 .  1181   0
290 .  1182   0
291 .  1183   1
292 .  1184   0
293 .  1185   0
294 .  1186   0
295 .  1187   0
296 .  1188   1
297 .  1189   0
298 .  1190   0
299 .  1191   0
300 .  1192   0
301 .  1193   0
302 .  1194   0
303 .  1195   0
304 .  1196   1
305 .  1197   1
306 .  1198   0
307 .  1199   0
308 .  1200   0
309 .  1201   0
310 .  1202   0
311 .  1203   0
312 .  1204   0
313 .  1205   1
314 .  1206   1
315 .  1207   1
316 .  1208   0
317 .  1209   0
318 .  1210   0
319 .  1211   0
320 .  1212   0
321 .  1213   0
322 .  1214   0
323 .  1215   0
324 .  1216   1
325 .  1217   0
326 .  1218   1
327 .  1219   0
328 .  1220   0
329 .  1221   0
330 .  1222   1
331 .  1223   0
332 .  1224   0
333 .  1225   0
334 .  1226   0
335 .  1227   0
336 .  1228   0
337 .  1229   0
338 .  1230   0
339 .  1231   0
340 .  1232   0
341 .  1233   0
342 .  1234   0
343 .  1235   1
344 .  1236   0
345 .  1237   1
346 .  1238   0
347 .  1239   0
348 .  1240   0
349 .  1241   1
350 .  1242   1
351 .  1243   0
352 .  1244   0
353 .  1245   0
354 .  1246   0
355 .  1247   0
356 .  1248   1
357 .  1249   0
358 .  1250   0
359 .  1251   0
360 .  1252   0
361 .  1253   1
362 .  1254   1
363 .  1255   0
364 .  1256   1
365 .  1257   0
366 .  1258   0
367 .  1259   0
368 .  1260   1
369 .  1261   0
370 .  1262   0
371 .  1263   1
372 .  1264   0
373 .  1265   0
374 .  1266   1
375 .  1267   1
376 .  1268   0
377 .  1269   0
378 .  1270   0
379 .  1271   0
380 .  1272   0
381 .  1273   0
382 .  1274   0
383 .  1275   0
384 .  1276   0
385 .  1277   1
386 .  1278   0
387 .  1279   0
388 .  1280   0
389 .  1281   0
390 .  1282   0
391 .  1283   1
392 .  1284   0
393 .  1285   0
394 .  1286   0
395 .  1287   1
396 .  1288   0
397 .  1289   1
398 .  1290   0
399 .  1291   0
400 .  1292   1
401 .  1293   0
402 .  1294   1
403 .  1295   0
404 .  1296   0
405 .  1297   0
406 .  1298   0
407 .  1299   0
408 .  1300   1
409 .  1301   0
410 .  1302   1
411 .  1303   1
412 .  1304   0
413 .  1305   0
414 .  1306   1
415 .  1307   0
416 .  1308   0
417 .  1309   0

In [16]:
ar_tmp = []
for i in range(len(test_dataset['PassengerId'])):
    ar_tmp.append(int(round(probability[i, 0], 0)))
print(ar_tmp)

[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0]

In [18]:
submission = pd.DataFrame({'PassengerId': test_dataset['PassengerId'],
                           'Survived':ar_tmp
                          })
submission.to_csv('submission.csv', index = False)